<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Register for <%=siteName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <!-- Blog image at the top -->
  <div class="logo-container"><img src="/images/blog logo.png" alt="Blog Website Logo" class="logo-pic"></div>

  <!-- Navigation bar -->
  <nav>
    <div> <!-- Wrapping div for the left links -->
      <a href="/" class="nav-links">Home</a>
      <a href="/about" class="nav-links">About <%=siteName%></a>

      <!-- Navigation link with dropdowns -->
      <div class="dropdown">
        <a href="/blog" class="nav-links">Blogs</a>
        <div class="dropdown-content">
          <a href="/blog">All Blog Posts</a>
          <% categories.forEach(category=> { %>
            <a href="/blog?category=<%= category.id %>">
              <%= category.name %>
            </a>
            <% }); %>
              <a href="/create-blog">Create a Blog</a>
        </div>
      </div>

      <a href="/search" class="nav-links">Search</a>
      <a href="/weather" class="nav-links">Weather</a>
      <a href="/api-view" class="nav-links">API</a>
      <a href="/tv-shows" class="nav-links">TV Shows</a>

      <% if (username==='admin' ) { %>
        <a href="/listusers" class="nav-links">List Users</a>
        <a href="/deleteuser" class="nav-links">Delete User</a>
        <% } %>

    </div> <!-- End of wrapping div for the left links -->

    <div> <!-- Wrapping div for the right links -->
      <% if (!username) { %> <!-- If there's no username, show the Login and Register links -->
        <a href="/login" class="nav-links">Login</a>
        <a href="/register" class="nav-links">Register</a>
        <% } else { %>
          <!-- If there's a username, show the username and the Logout link, and remove the Login and Register links -->
          <span class="nav-links">
            <%= username %>
          </span>
          <a href="/logout" class="nav-links">Logout</a>
          <% } %>
    </div> <!-- End of wrapping div for the right links -->
  </nav>

  <h1>Register for <%=siteName%>
  </h1>

  <!-- Registration Form -->
  <div class="register-container">
    <form method="POST" action="/registered">
      <p> <!-- Input field for first name -->
        <label for="first">First name:</label>
        <input id="first" type="text" name="first" placeholder="First Name" required autofocus />
      </p>

      <p> <!-- Input field for last name -->
        <label for="last">Last name:</label>
        <input id="last" type="text" name="last" placeholder="Last Name" required />
      </p>

      <p> <!-- Input field for email -->
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="email@example.com" required
          oninput="validateEmail(this)" />
      </p>

      <!-- Function for Email Validation -->
      <script>
        function validateEmail(input) {
          if (input.value === "") {
            input.setCustomValidity("Please provide an email address.");
          } else if (!input.value.includes("@") || !input.value.endsWith(".com")) {
            input.setCustomValidity("Must contain an '@' and end with '.com'");
          } else {
            input.setCustomValidity(""); // clear any previous error message
          }
        }
      </script>

      <p> <!-- Input field for username -->
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="Username" required />
      </p>

      <p> <!-- Input field for password -->
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" required
          title="Must contain at least one number, one uppercase and lowercase letter, one special character, and at least 8 or more characters"
          oncopy="return false;" />
        <span onclick="togglePasswordVisibility()" id="passwordToggle" class="toggle-password">Show Password</span>
        <!-- Set to "Show" by default -->
      </p>

      <!-- Function for Password Toggle -->
      <script>
        function togglePasswordVisibility() {
          const passwordInput = document.getElementById('password');
          const passwordToggle = document.getElementById('passwordToggle');
          const typeAttribute = passwordInput.getAttribute('type');

          if (typeAttribute === 'password') {
            passwordInput.setAttribute('type', 'text');
            passwordToggle.textContent = 'Hide';
          } else {
            passwordInput.setAttribute('type', 'password');
            passwordToggle.textContent = 'Show Password';
          }
        }
      </script>

      <!-- Confirm Password Input with Confirm Password Toggle Function -->
      <p>
        <label for="confirm-password">Confirm Password:</label>
        <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm Password" required
          oncopy="return false;" />
        <span onclick="toggleConfirmPasswordVisibility()" id="confirmPasswordToggle" class="toggle-password">Show
          Password</span>
      </p>

      <!-- Function for Confirm Password Toggle -->
      <script>
        function toggleConfirmPasswordVisibility() {
          const confirmPasswordInput = document.getElementById('confirm-password');
          const confirmPasswordToggle = document.getElementById('confirmPasswordToggle');
          const typeAttribute = confirmPasswordInput.getAttribute('type');

          if (typeAttribute === 'password') {
            confirmPasswordInput.setAttribute('type', 'text');
            confirmPasswordToggle.textContent = 'Hide';
          } else {
            confirmPasswordInput.setAttribute('type', 'password');
            confirmPasswordToggle.textContent = 'Show Password';
          }
        }
      </script>

      <input type="submit" value="Register" />

      <!-- Displays the register error message -->
      <div class="register-error-message">
        <% if (typeof message !=='undefined' && message) { %>
          <span>
            <%= message %>
          </span>
          <% } %>
      </div>
    </form>
  </div>

</body>

</html>