<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= siteName %> Weather Information
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <!-- Blog image at the top -->
    <div class="logo-container"><img src="../images/blog logo.png" alt="Blog Website Logo" class="logo-pic"></div>

    <!-- Navigation bar -->
    <nav>
        <div> <!-- Wrapping div for the left links -->
            <a href="/" class="nav-links">Home</a>
            <a href="/about" class="nav-links">About <%=siteName%></a>

            <!-- Navigation link with dropdowns -->
            <div class="dropdown">
                <a href="/blog" class="nav-links">Blogs</a>
                <div class="dropdown-content">
                    <a href="/blog">All Blog Posts</a>
                    <% categories.forEach(category=> { %>
                        <a href="/blog?category=<%= category.id %>">
                            <%= category.name %>
                        </a>
                        <% }); %>
                            <a href="/create-blog">Create a Blog</a>
                </div>
            </div>

            <a href="/search" class="nav-links">Search</a>
            <a href="/weather" class="nav-links">Weather</a>
            <a href="/api-view" class="nav-links">API</a>
            <a href="/tv-shows" class="nav-links">TV Shows</a>

            <% if (username==='admin' ) { %>
                <a href="/listusers" class="nav-links">List Users</a>
                <a href="/deleteuser" class="nav-links">Delete User</a>
                <% } %>

        </div> <!-- End of wrapping div for the left links -->

        <div> <!-- Wrapping div for the right links -->
            <% if (!username) { %> <!-- If there's no username, show the Login and Register links -->
                <a href="/login" class="nav-links">Login</a>
                <a href="/register" class="nav-links">Register</a>
                <% } else { %>
                    <!-- If there's a username, show the username and the Logout link, and remove the Login and Register links -->
                    <span class="nav-links">
                        <%= username %>
                    </span>
                    <a href="/logout" class="nav-links">Logout</a>
                    <% } %>
        </div> <!-- End of wrapping div for the right links -->
    </nav>

    <h1>Check Weather</h1>

    <div class="weather-container">

        <form action="/weather" method="post">
            <input class="search-box" type="text" name="city" placeholder="Enter city name" required>
            <input type="submit" value="Get Weather">
        </form>

        <% if(weather) { %>
            <div class="weather-info">
                <h2>Weather in <%= weather.city %>
                </h2>
                <p class="weather-detail">Weather Description: <%= weather.description %>
                </p>
                <p class="weather-detail">
                    <%= weather.temperature %>
                </p>
                <p class="weather-detail">
                    <%= weather.feels_like %>
                </p>
                <p class="weather-detail">
                    <%= weather.temp_min %>
                </p>
                <p class="weather-detail">
                    <%= weather.temp_max %>
                </p>
                <p class="weather-detail">
                    <%= weather.pressure %>
                </p>
                <p class="weather-detail">
                    <%= weather.humidity %>
                </p>
                <p class="weather-detail">
                    <%= weather.wind %>
                </p>
                <p class="weather-detail">
                    <%= weather.clouds %>
                </p>
                <p class="weather-detail">
                    <%= weather.rain %>
                </p>
            </div>
            <% } %>

                <% if(error) { %>
                    <p class="weather-error">
                        <%= error %>
                    </p>
                    <% } %>
    </div>

</body>

</html>